body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #EFF1FE, #D2D7FF);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 758px; 
    min-width: 1280px;
    margin: 0;
    padding: 0;
}


/* nav bar */
nav {
    width: 1152px;
    height: auto;
    margin-top: 29px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-us {
    width: 127px;
    height: 48px;
    border: none;
    background: black;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 100px;
    font-weight: 500;
    cursor: pointer;
}

/* main content */

#home-info {
    display: flex;  
    height: auto;
    align-self: flex-end;
    align-items: center;  
    justify-content: space-between; 
    gap: 118px;  
    margin-right: 64px;
}

#logo {
    height: 30px;
    width: 72px;
}


#content {
    width: 472px;
    height: 392px;
}

h1 {
    height: 195px;
    line-height: 1.08em;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    margin: 0px 0px 32px 0px;
}

h1 span {
    color: #809BFF;
}

p {
    font-size: 16px;
    color: #4A4A4A;
    margin: 0px 0px 39px 0;
    text-align: left;
}

p span {
    color: #809BFF;
}

input {
    border: 2px solid #ccc;
    padding: 12px;
    border-radius: 25px;
    width: 250px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #809BFF;
}


button span {
    margin-left: 5px;
}

label {
    font-size: 12px;
    color: #4A4A4A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#events {
    margin-top: 72px;
    width: 482px;
    height: 507px;
}

#time {
    margin: 20px 0px 0px 0px;
    align-self: center;
}

#time span {
    border-color: #809BFF;
}