body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #F2F2FC, #D8DFFD);
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto; 
}

#home {
    width: 1280px;
    height: 832px;
    padding: 20px;
}

#home-info {
    display: flex;  
    align-items: center;  
    justify-content: space-between; 
    gap: 118px;  
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 30px;
}

button {
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
}

#content {
    width: 472px;
    height: 392px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: left;
}

h1 span {
    color: #809BFF;
}

p {
    font-size: 16px;
    color: #4A4A4A;
    margin-top: 32px;
    text-align: left;
}

p span {
    color: #809BFF;
}

input {
    border: 2px solid #ccc;
    padding: 12px;
    border-radius: 25px;
    width: 250px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #809BFF;
}


button span {
    margin-left: 5px;
}

label {
    font-size: 12px;
    color: #4A4A4A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
/* 
input[type='checkbox'] {
    margin-right: 5px;
} */


#events {
    margin-top: 72px;
    width: 482px;
    height: 507px;
}